@page "{id:guid}"
@model PPMRm.Web.Pages.CountryPeriods.DetailModel
@{
}
<abp-accordion>
    <abp-accordion-item title="CS Updates">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry rtat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </abp-accordion-item>
    <abp-accordion-item title="National Malaria Program">
        <abp-table hoverable-rows="true" responsive-sm="true">
            <thead>
                <tr>
                    <th scope="Column">#</th>
                    <th scope="Column">First</th>
                    <th scope="Column">Last</th>
                    <th scope="Column">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="Row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td table-style="Danger">mdo</td>
                </tr>
                <tr table-style="Warning">
                    <th scope="Row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    <th scope="Row">3</th>
                    <td table-style="Success">Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>
        </abp-table>


    </abp-accordion-item>
    <abp-accordion-item title="PMI">
        <abp-table hoverable-rows="true" responsive-sm="true">
            <thead>
                <tr>
                    <th scope="Column">#</th>
                    <th scope="Column">First</th>
                    <th scope="Column">Last</th>
                    <th scope="Column">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="Row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td table-style="Danger">mdo</td>
                </tr>
                <tr table-style="Warning">
                    <th scope="Row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    <th scope="Row">3</th>
                    <td table-style="Success">Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>
        </abp-table>

    </abp-accordion-item>
</abp-accordion>