@page
@model PPMRm.Web.Pages.CountryPeriods.IndexModel
@{
}

@section scripts
{
    <abp-script src="/Pages/CountryPeriods/Index.js" />
}

<abp-card>
    <abp-card-header>
        <h2>Select Country</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="CountryTable"></abp-table>
    </abp-card-body>
</abp-card>
