.ionide
.mfractor
src/PPMRm.DbMigrator/Logs
src/PPMRm.Web/Logs
src/PPMRm.DataSync/data/
src/PPMRm.Web/.config/dotnet-tools.json
src/PPMRm.Web/Properties/
src/PPMRm.Web/node_modules/
src/PPMRm.Web/data/
