@page
@model PPMRm.Web.Pages.Shipments.IndexModel
@{
}
@section scripts
{
    <abp-script src="/Pages/Shipments/Index.js" />
}
<abp-card>
    <abp-card-header>
        <h2>ARTMIS Shipments</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="ShipmentsTable"></abp-table>
    </abp-card-body>
</abp-card>