@page
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model PPMRm.Web.Pages.PeriodReports.AddProductModalModel
@{
    Layout = null;
}
<abp-dynamic-form abp-model="Product" asp-page="/PeriodReports/AddProductModal">
    <abp-modal>
        <abp-modal-header title="Add Product"></abp-modal-header>
        <abp-modal-body>
            <abp-form-content />
            <ul>
                <li>@Model.PeriodReportId</li>
                <li>@Model.ProgramId</li>
            </ul>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</abp-dynamic-form>