@page
@model PPMRm.Web.Pages.Products.IndexModel
@{
}
@section scripts
{
    <abp-script src="/Pages/Products/Index.js" />
}

<abp-card>
    <abp-card-header>
        <h2>Products</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="ProductsTable"></abp-table>
    </abp-card-body>
</abp-card>