<div class="container-fluid px-5">
    <footer class="py-3 my-4">
        <p class="text-center text-muted border-bottom pb-3 mb-3 small">This website is funded under the USAID Global Health Supply Chain-Procurement and Supply Management contract No. AID-OAA-I-15-00004; Task Order 02 Contract No. AID-OAA-TO-15-00009. The information provided on this website is not official U.S. Government information and does not represent the views or positions of the U.S. Agency for International Development or the U.S. Government.</p>
        <div class="row">
            <div class="col text-center">
                <img src="~/logos/usaid_newlogo.png" />
            </div>
            <div class="col text-center">
                <img src="~/logos/pmi-logo.png" />
            </div>
        </div>
    </footer>
</div>